{% load static %}

<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" type="text/css" href="{% static 'main/css/main.css' %}">
    <link rel="stylesheet" type="text/css" href="{% static 'main/css/bootstrap.css' %}">
    <script type="text/javascript" src="{% static 'main/js/jquery-1.10.2.js' %}"></script>
    <link rel="stylesheet" src="{% static 'main/js/OwlCarousel2-2.3.4/dist/assets/owl.carousel.css' %}">
    <link rel="stylesheet" src="{% static 'main/js/OwlCarousel2-2.3.4/dist/assets/owl.theme.default.css' %}">
    <script src="{% static 'main/js/OwlCarousel2-2.3.4/dist/owl.carousel.min.js' %}"></script>
    <title>{{ title }}</title>
</head>
<body>
{% block mainmenu %}
    <div class="container">
    <header class="d-flex flex-wrap align-items-center justify-content-center justify-content-md-between py-3 mb-4 border-bottom">

      <ul class="nav col-12 col-md-auto mb-2 justify-content-center mb-md-0">
        <li><a href="{% url 'home' %}" class="nav-link px-2 link-secondary">Главная</a></li>
        <li><a href="{% url 'news' %}" class="nav-link px-2 link-dark">Новости</a></li>
        <li><a href="#" class="nav-link px-2 link-dark">Отряды</a></li>
        <li><a href="#" class="nav-link px-2 link-dark">О нас</a></li>
      </ul>

      <div class="nav col-12 col-md-auto mb-2 justify-content-center mb-md-0">
          {% if user.is_authenticated %}
              <li><a class="nav-link px-2 link-secondary" href="{% url 'logout' %}">Выход</a></li>
              <li><a class="nav-link px-2 link-secondary" href="{% url 'profile' user.pk %}">{{ user.username }}</a></li>
          {% else %}
              <li><a class="nav-link px-2 link-secondary" href="{% url 'reg_user' %}">Зарегистрироваться</a></li>
              <li><a class="nav-link px-2 link-secondary" href="{% url 'login' %}">Войти</a></li>
          {% endif %}

      </div>
    </header>
  </div>
{% endblock %}
<div class="container mt-5">
{% block content %}

{% endblock %}
</div>
</body>
</html>